In [1]:
import pandas as pd

## Reading files, Select columns and Summarizing

# Reading in a file from local computer or directly from a URL
# Various file formats that can be read
    
Format Type     Data Description      Reader           Writer
text                  CSV            read_csv          to_csv
text                 JSON            read_json         to_json
text                 HTML            read_html         to_html
text             Local clipboard  read_clipboard     to_clipboard
binary             MS Excel          read_excel        to_excel
binary            HDF5 Format        read_hdf           to_hdf
binary           Feather Format     read_feather      to_feather
binary              Msgpack         read_msgpack      to_msgpack
binary               Stata           read_stata        to_stata
binary                SAS             read_sas 
binary        Python Pickle Format   read_pickle       to_pickle
SQL                   SQL             read_sql          to_sql
SQL             Google Big Query      read_gbq          to_gbq

In [ ]:
# read csv file from local or from a URL
df = pd.read_csv('local_path/file.csv')
df = pd.read_csv('https://file_path/file.csv')

In [ ]:
# read in a tables, can specify separators
df = pd.read_table('https://file_path/file', sep='|', index_col='column_x')

In [ ]:
# Examine the df data
df                                        #print the first 30 and last 30 rows
type(df)                                  #type dataframe
df.head()                                 #print the 1st 5 rows
df.head(10)                               #print the 1st 10 rows
df.tail()                                 #print the last 5 rows
df.tail(10)                               #print the last 10 rows
df.index                                  #show the index column
df.columns                                #show all columns names in an array
df.dtypes                                 #show data types of each column
df.shape                                  #show the shape of the dataframe(number of rows and columns)
df.values                                 #show all the values of the dataframe(show as a numpy array for efficiencies)

In [ ]:
# Select a column
df['column_x']                            #select specified column
type(df['column_x'])                      #show the datatype of specified column (e.g Series)
df.column_x                               #select the specified column using the dataframe attribute

In [ ]:
# Summarize(describe) a dataframe
df.describe()                             #describe all numeric columns
df.describe(include=['object'])           #describe all object columns
df.describe(include='all')                #describe all columns

In [ ]:
# Summarize a Series
df.column_x.describe()                    #describe a single column
df.column_x.mean()                        #only calculate the mean of the specified column
df['column_x'].mean()                     #alternative method to calculate the mean of the specified column

In [ ]:
# Count the number of occurences of each value
df.column_x.value_counts()                #most useful for categorical variables, but can also be used with numeric column

In [ ]:
# Filter dataframe by specified column, and print out values of another column
df[df.column_x == 'string_value'].column_y
df[df.column_x == 1].column_y

In [ ]:
# Display only the number of rows of the dataframe
df.shape[0]
# Display only the number of column of the dataframe
df.shape[1]

In [ ]:
# Display the 3 most frequent occurances of column in dataframe
df.column_x.value_counts()[0:3]

## Filtering and Sorting

In [ ]:
# Boolean filtering: only show df with column_x < 20
filter_bool = df.columns_x < 20                       #create a series of booleans with condition <20 of a specified column...
df[filter_bool]                                       #..and use that series to filter rows
df[filter_bool].describe()                            #describe a dataframe filtered by filter_bool
df[df.column_x < 20]                                  #or, combine into a single step
df[df.column_x < 20].column_y                         #select one column from the filtered results of column_x
df[df['column_x'] < 20].column_y                      #alternative method
df[df.column_x < 20].column_y.value_counts()          #value_counts of result series, can also use mean() instead of value_counts()

In [ ]:
# Boolean filtering with multiple conditions
df[(df.column_x < 20) & (df.column_y == 'string')]    #ampersand for AND condition
df[(df.column_x < 20) | (df.column_y > 60)]           #pipe for OR condition

In [ ]:
# Sorting
df.column_x.order()                                   #sort a column
df.sort_values('column_x')                            #sort a dataframe by a single column
df.sort_values('column_x', ascending=False)           #use descending order instead

In [ ]:
# Sort dataframe by multiple columns
df = df.sort(['col1','col2','col3'], ascending=[1,1,0])

In [ ]:
# Can also filter dataframe using pandas.Series.isin
df[df.column_x.isin(['string_1','string_2'])]

## Renaming, Adding and Removing columns

In [ ]:
# Rename one or more columns
df.rename(columns={'original_column_1':'column_x','original_column_2':'column_y'}, inplace=True)   #Saves changes

In [ ]:
# Replace all column names (in place)
new_cols = ['column_x','column_y','column_z']
df.columns = new_cols

In [ ]:
# Replace all column names when reading the file
df = pd.read_csv('df.csv', header=0, names=new_cols)

In [ ]:
# Add a new column as a function of existing columns
df['new_column_1'] = df.column_x + df.column_y
df['new_column_2'] = df.column_x * 1000           #can create new columns without for loops

In [ ]:
# Removing columns
df.drop('column_x', axis=1)                              # axis=0 for rows, axis=1 for columns - does not drop in place
df.drop(['column_x','column_y'], axis=1, inplace=True)   # drop multiple columns

In [ ]:
# Lower_case and upper_case all datafram column names
df.columns = map(str.lower, df.columns)
df.columns = map(str.upper, df.columns)

In [ ]:
# Even more fancy dataframe column re-nameing
# lower_case all dataframe column names 
df.rename(columns=lambda x: x.split('.')[-1], inplace=True)           # ????

## Handling Missing Values

In [ ]:
# Missing values are usually excluded by default
df.column_x.value_counts()                               #exclude missing values
df.column_x.value_counts(dropna=False)                   #include missing values

In [ ]:
# Find missing values in a Series
df.column_x.isnull()                                     #True if missing
df.column_x.notnull()                                    #True if not missing

In [ ]:
# Use a boolean Series to filter dataframe rows
df[df.column_x.isnull()]                                 #only show rows where column_x is missing
df[df.column_x.notnull()]                                #only show rows where column_x not missing

In [ ]:
# Understanding axis
df.sum()                                                 #sums 'down' the 0 axis(rows)
df.sum(axis=0)                                           #alternative(since axis=0 is default)
df.sum(axis=1)                                           #sums 'across' the 1 axis(columns)

In [ ]:
# Adding booleans
pd.Series([True, False, True])                           #create a boolean Series
pd.Series([True, False, True]).sum()                     #converts False to 0 and True to 1

In [ ]:
# Find missing values in dataframe
df.isnull()                                              #dataframe of booleans
df.isnull().sum()                                        #count the missing values in each column
df.isnull().sum().sum()                                  #count the total missing values of all dataframe

In [ ]:
# Drop missing values
df.dropna(inplace=True)                                  #drop a row if ANY values are missing, default to rows, but can be applied to columns with axis=1
df.dropna(how='all', inplace=True)                       #drop a row only if ALL values are missing

In [ ]:
# Fill in missing values
df.column_x.fillna(value='NaN', inplace=True)            #fill the missing values of column_x with 'NaN'
df.column_x.fillna(value=np.nan, inplace=True)           #alternative use numpy library
#value does not have to equal a string - can be set as some calculated value like df.column_x.mode(), or just a number like 0

In [ ]:
# Turn off the missing value filter
df = pd.read_csv('df.csv', header=0, names=new_cols, na_filter=False)

## Split, Apply, Combine
Diagram: http://i.imgur.com/yjNkiwL.png

In [ ]:
# For each value in column_x, calculate the mean of column_y
df.groupby('column_x').column_y.mean()

In [ ]:
# For each value in column_x, count the number of occurences
df.column_x.value_counts()

In [ ]:
# For each value in column_x, describe column_y
df.groupby('column_x').column_y.describe()

In [ ]:
# Similar, but outputs a dataframe can be customized
df.groupby('column_x').column_y.agg(['count','mean','min','max'])
df.groupby('column_x').column_y.agg(['count','mean','min','max']).sort_values('mean')

In [ ]:
# If dont specify a column to which the aggregation function should be applied, it will applied to all numeric columns
df.groupby('column_x').mean()
df.groupby('column_x').describe()

In [ ]:
# can also groupby a list of columns, i.e, for each combination of column_x and column_y, calculate the mean of column_z
df.groupby(['column_x', 'column_y']).column_z.mean()

In [ ]:
# to take groupby results out of hierarchical index format(e.g, present as table), use .unstack() method
df.groupby('column_x').column_y.value_counts().unstack()

In [ ]:
# conversely, if we want to transform a table into a hierarchical index, use the .stack() method
df.stack()

## Selecting multiple columns and Filtering Rows

In [ ]:
# Select multiple columns
my_cols = ['column_x','column_y']                  #create a list of column names
df[my_cols]                                        #..and use that column names list to select columns
df[['column_x','column_y']]                        #or, combine into a single step = double brackets due to indexing a list

In [ ]:
# Use loc to select columns by name
df.loc[:, 'column_x']                              #colon means 'all rows', then select one column (column_x in this case)
df.loc[:, ['column_x','column_y']]                 #select two columns
df.loc[:, 'column_x':'column_y']                   #select a range of columns(i.e., select all columns including 1st column through last specified column)

In [ ]:
# loc can also filter rows by 'name' (the index)
df.loc[0, :]                                       #row 0, all columns
df.loc[0:2, :]                                     #row 0-1-2, all columns
df.loc[0:2, 'column_x':'column_y']                 #row 0-1-2, all columns in range of column_x to column_y

In [ ]:
# Use iloc to filter rows and select columns by integer position
df.iloc[:, [0, 3]]                                 #all rows, columns in position 0 and 3
df.iloc[:, 0:4]                                    #all rows, columns in position 0-1-2-3
df.iloc[0:3, :]                                    #rows in position 0-1-2, all columns

In [ ]:
# Filtering out and dropping rows based on condition(e.g, where column_x values are null)
drop_rows = df[df['column_x'].isnull()]
new_df = df[~df.isin(drop_rows)].dropna(how='all')

## Merging and Concatenating dataframes

In [ ]:
# Concatenating two dfs together, just put them together, does not pair them in any meaningful way
# - axis=1 concat df2 to right side of df1, axix=0 concat df2 to bottom of df1
new_df = pd.concat([df1, df2], axis=1)

In [ ]:
# Merging dfs based on paired columns, columns do not need to have same name, but shold match values
# - left_on column come from df1, right_on column come from df2
new_df = pd.merge(df1, df2, left_on='column_x', right_on='column_y')

In [ ]:
# can also merge slices of dfs together, though slices need to include columns used for merging
new_df = pd.merge(df1[['column_x1','column_x2']], df2, left_on='column_x2', right_on='column_y')

In [ ]:
# Merging two dataframes based on shared index values (left is df1, right is df2)
new_df = pd.merge(df1, df2, left_index=True, right_index=True)

## Other frequently used features

In [ ]:
# Map existing values to a different set of values
df['column_x'] = df.column_y.map({'F':0,'M':1})

In [ ]:
# Encode strings as integer values (automaticaly starts at 0)
df['column_x_num'] = df.column_x.factorize()[0]

In [ ]:
# Determine unique values in a column
df.column_x.nunique()                                    #count the number of unique values of column_x
df.column_x.unique()                                     #return all the unique values of column_x

In [ ]:
# Replace all instances of a value in a column (must match entire value)
df.column_y.replace('old_string', 'new_string', inplace=True)

In [ ]:
# Alter values in one column based on values in another column(change occur in place)
#can use either .loc or .ix methods
df.loc[df['column_x'] == 5, 'column_y'] = 1
df.ix[df.column_x == 'string_value', 'column_y'] = 'new_string_value'

In [ ]:
# Transpose dataframe (i.e rows become columns, columns become rows)
df.T

In [ ]:
# String methods are accessed via 'str'
df.column_x.str.upper()                                 #converts to uppercase
df.column_x.str.lower()                                 #converts to lowercase
df.column_x.str.contains('value', na='False')           #checks for a substring, returns boolean series

df.column_x.str[0:5]                                    #slice values in column_x
df.column_x.str.len()                                   #get length of data in column_x

In [ ]:
# Convert a string to the datetime_column format
df['time_column'] = pd.to_datetime_column(df.time_column)
df.time_column.dt.hour                                  #datetime_column format exposes convenient attributes
(df.time_column.max() - df.time_column.min()).days      #also allows you to do datetime_column 'math'
df[df.time_column > pd.datetime_column(2019,1,1)]       #boolean filtering with datetime_column format

In [ ]:
# Setting and then removing an index, reseting index can help remove hierarchical indexes while preserving the table in its basic structure
df.set_index('time_column', inplace=True)               #set the time_column as an index of the dataframe
df.reset_index(inplace=True)                            #reset the order of the index (i.e. usually used after drop one or many rows)

In [ ]:
# Sort a column by its index
df.column_x.value_counts().sort_index()

In [ ]:
# Change the data type of a column
df['column_x'] = df.column_x.astype('float')

In [ ]:
# Change the data type of a column when reading in a file
pd.read_csv('df.csv', dtype={'column_x':float})

In [ ]:
# Create dummpy variables for 'column_x' and exclude the 1st dummy column
column_x_dummies = pd.get_dummies(df.column_x).iloc[:, 1:]

In [ ]:
# Concatenate two dataframes (axis=0 for rows, axis=1 for columns)
df = pd.concat([df, column_x_dummies], axis=1)

In [ ]:
# Convert series datatype to numeric datatype (will error if column has non_numeric values)
pd.to_numeric(df['column_x'])

# Convert series datatype to numeric datatype, changing non-numeric values to NaNs
pd.to_numeric(df['column_x'], errors='coerce')

In [ ]:
# Grab dataframe rows where column has certain values in the given list
value_list = ['value_1','value_2','value_3']
df = df[df.column.isin(value_list)]

# Grab dataframe rows where column doesn't have certain values in the given list
value_list = ['value_1','value_2','value_3']
df = df[~df.column.isin(value_list)]

In [ ]:
# Delete column from dataframe
del df['column_x']

In [ ]:
# Rename several dataframe columns
df = df.rename(columns={
    'col1 old name':'col1 new name',
    'col2 old name':'col2 new name',
    'col3 old name':'col3 new name'
})

## Less Frequently Used Features

In [ ]:
# Create dataframe from a dictionary
pd.DataFrame({'column_x': ['value_x1','value_x2','value_x3'], 'column_y': ['value_y1','value_y2','value_y3']})

In [ ]:
# Create dataframe from a list of lists
pd.DataFram([['value_x1','value_y1'],['value_x2','value_y2'],['value_x3','value_y3']], columns=['column_x','column_y'])

In [ ]:
# Detecting duplicate rows
df.duplicated()                                             #True if a row is identical to previous row
df.duplicated().sum()                                       #count of duplicates of each columns
df.duplicated().sum().sum()                                 #count of duplicates of all dataframe(final sum from sum of columns)
df[df.duplicated()]                                         #only show duplicates
df.drop_duplicates()                                        #drop duplicate rows
df.column_x.duplicated()                                    #check a single column for duplicates
df.duplicated(['column_x','column_y','column_z']).sum()     #specify columns for finding duplicates

In [ ]:
# Clean up missing values in multiple dataframe columns
df = df.fillna({
    'col1':'missing',
    'col2':'99.999',
    'col3':'999',
    'col4':'missing',
    'col5':'missing',
    'col6':'99'
})

In [ ]:
# Concatenate two dataframe columns into a new, single column (useful when dealing with composite keys, for example)
df['new_col'] = df['col1'].map(str) + df['col2'].map(str)

In [ ]:
# Doing calculations with dataframe columns that have missing values
# in example below, swap in 0 for df['col1'] cells that contain null values
df['new_col'] = np.where(pd.isnull(df['col1']), 0, df['col1']) + df['col2']

In [ ]:
# Display a cross-tabulation of two Series
pd.crosstab(df.column_x, df.column_y)

In [ ]:
# Alternative syntax for boolean filtering (noted as 'experimental' in the documentation)
df.query('çolumn_x < 20')                                  # df[df.column_x < 20]
df.query(" column_x < 20 and column_y == 'string' ")       # df[(df.column_x < 20) & (df.column_y == 'string')]
df.query('column_x < 20 or column_y > 60')                 # df[(df.column_x < 20) | (df.column_y > 60)]

In [ ]:
# Loop through rows in dataframe
for index, row in df.iterrows():
    print(index, row['column_x'])

In [ ]:
# Much faster way to loop through dataframe rows if you can work with tuples
for row in df.itertuples():
    print(row)

In [ ]:
# Get rid of non-numeric values throughout a dataframe
for col in df.columns.values:
    df[col] = df[col].replace('[0-9]+.-','', regex=True)

In [ ]:
# Change all NaNs to None (useful before loading to a db)
df = df.where((pd.notnull(df)), None)

In [ ]:
# Split delimited values in a dataframe column into two new columns
df['new_col1'], df['new_col2'] = zip(*df['original_col'].apply(lambda x: x.split(':', 1)))    #split data on the left and right of delimiter ':' into 2 new columns

In [ ]:
# Collapse hierarchical column indexes
df.columns = df.columns.get_level_values(0)

In [ ]:
# Display the memory usage of dataframe
df.info()                                    #total usage
df.memory_usage()                            #usage by column

In [ ]:
# Change a series to the 'category' data type (reduces memory usage and increase performance)
df['column_x'] = df.column_x.astype('çategory')

In [ ]:
# Temporarily define a new column as a function of existing columns
df.assign(new_column = df.column_x + df.spirit + df.column_y)

In [ ]:
# Limit which rows are read when reading in a file
pd.read_csv('df.csv', nrows=10)              #only read 1st 10 rows
pd.read_csv('df.csv', skiprows=[1,2])        #skip the first two rows of data

In [ ]:
# Randomly sample a dataframe
train = df.sample(frac=0.75, random_column_y=1)  #will contain 75% of the rows
test = df[~df.index.isin(train.index)]           #will contain the orther 25% of the rows

In [ ]:
# Change the maximum number of rows and columns printed('None' mean unlimited)
pd.set_option('max_rows', None)                  #default is 60 rows
pd.set_option('max_columns', None)               #default is 20 columns
print(df)

In [ ]:
# Reset options to defaults
pd.reset_option('max_rows')
pd.reset_option('max_columns')

In [ ]:
# Change the options temporarily (settings are restored when you exit the 'with' block)
with pd.option_context('max_rows', None, 'max_columns', None):
    print(df)